@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background: #f8fafc;
}

body {
  min-height: 100vh;
  background: #ff00ff;
}

* {
  box-sizing: border-box;
}
